/*.sideBarItem{*/
/*    -fx-background-color: #e6f2fa;*/
/*    !*-fx-border-color: WHITE;*!*/
/*    !*-fx-border-width: 0px 0px 0px 3px;*!*/
/*}*/

/*.sideBarItem:hover{*/
/*    -fx-background-color: #e6f2fa;*/
/*    !*-fx-border-color: WHITE;*!*/
/*    !*-fx-border-width: 0px 0px 0px 3px;*!*/
/*}*/

/*.sideBarItem:pressed{*/
/*    -fx-background-color: #cde6f7;*/
/*}*/

.button {
    -fx-background-color: #f8f8f8;
}

.button:hover {
    -fx-background-color: #e6f2fa;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}


/*.sideBarItem:focused {*/
/*    -fx-focus-color: red;*/
/*    -fx-faint-focus-color: green;*/
/*    -fx-inner-border: blue;*/
/*    -fx-body-color: orange;*/

/*    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-inner-border, -fx-body-color;*/
/*    -fx-background-insets: -2, -0.3, 1, 2;*/
/*    -fx-background-radius: 7, 6, 4, 3;*/
/*}*/

/*.sideBarItem{*/
/*    -fx-background-color:#90EE90;*/
/*    -fx-background-radius: 5,5,4;*/
/*    -fx-background-insets: 0 0 -1 0,0,1;*/
/*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );*/
/*    -fx-text-alignment: center;*/
/*}*/
